@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-primary: #131E29;
  --bg-secondary: #999faa;
  --bg-tertiary: #ffffff;
  --font-primary: #ffffff;
  --font-secondary: #82b7dc;
  --button-primary: #4996cc;
  --button-secondary: #094947; 
}